@use '../../../../globalStyles/tokens' as *;

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: $space-md;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  padding: $space-xl;
}
