@use '../../../../globalStyles/tokens' as *;

.success-container {
  text-align: center;
}

.success-actions {
  margin-top: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
